@media only screen and (min-width: 480px) {
    .onlymobile {
        display: none!
    }
}


/* overwriting properties of standard lightbox */

@media only screen and (max-width: 1024px) {
    .featherlight .featherlight-content {
        /* dimensions: maximize lightbox with for small screens */
        margin-left: 0;
        margin-right: 0;
        max-height: 90%;
        width: 90%;
        padding: 10px 10px 0;
        border-bottom: 10px solid transparent;
    }
}

/*ul {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
}

.filter-entries {
    margin-left: -20px;
}

.accordionjs .acc_section {
    border: none;
    position: relative;
    z-index: 10;
    margin-top: -1px;
    overflow: hidden;
}

.acc_head {
    font-weight: bold;
}

.accordionjs .acc_section.acc_active>.acc_head {
    background: transparent;
    border-bottom: none;
}*/
